In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics as mt

In [2]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv")

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv")

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv")

In [3]:
#model definition
lr_model = LinearRegression()
#model fit (ajuste, treinamento)
lr_model.fit(X_training, y_training)
#previsao
y_pred = lr_model.predict(X_training)

In [4]:
resultados = []

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_training, y_pred)
MSE = mt.mean_squared_error(y_training, y_pred)
RMSE = mt.root_mean_squared_error(y_training, y_pred)
MAE = mt.mean_absolute_error(y_training, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)

resultados.append({
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

         R2         MSE       RMSE        MAE      MAPE
0  0.046058  455.996112  21.354065  16.998249  8.653186

In [5]:
#Validation
lr_model = LinearRegression()
#model fit (ajuste, treinamento)
lr_model.fit(X_training, y_training)
#previsao
y_pred = lr_model.predict(X_validation)


resultados = []

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)

resultados.append({
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

         R2         MSE       RMSE        MAE      MAPE
0  0.039925  458.447042  21.411376  17.039754  8.682542

In [6]:
# Retrain on train+val and evaluate on test set

lr_model = LinearRegression()
#model fit (ajuste, treinamento)
lr_model.fit(pd.concat([X_training, X_validation]), np.concatenate([y_training, y_validation]))
#previsao
y_pred_test = lr_model.predict(X_test)


resultados = []

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)

resultados.append({
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

         R2         MSE       RMSE        MAE      MAPE
0  0.051166  461.988435  21.493916  17.144197  8.531355