In [1]:
import numpy as np
import pandas as pd
from sklearn import tree  as tr  
from sklearn import metrics as mt

In [2]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv")

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv")

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv")

In [4]:
#definiition
resultados = []
max_depth_values = np.arange (10,50,1)
for i in max_depth_values:
    model = tr.DecisionTreeRegressor (random_state=0,
                                      max_depth=i)
    #training
    model.fit(X_training, y_training)
    #perfomance
    y_pred = model.predict(X_training)
    
    # Calcula a acurácia (ou outra métrica que desejar)
    R2 = mt.r2_score(y_training, y_pred)
    MSE = mt.mean_squared_error(y_training, y_pred)
    RMSE = mt.root_mean_squared_error(y_training, y_pred)
    MAE = mt.mean_absolute_error(y_training, y_pred)        
    MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)

    resultados.append({
        'R2': R2,
        'MSE': MSE,
        'RMSE': RMSE,
        'MAE': MAE,
        'MAPE': MAPE
    })
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

          R2         MSE       RMSE        MAE      MAPE
0   0.384623  294.157782  17.151029  12.931231  4.866387
1   0.462970  256.706998  16.022078  11.732667  4.112476
2   0.542985  218.459083  14.780361  10.408378  3.352232
3   0.614178  184.427567  13.580411   9.079734  2.844986
4   0.685371  150.396535  12.263627   7.740502  2.366567
5   0.742784  122.952332  11.088387   6.501274  1.993676
6   0.793405   98.754936   9.937552   5.361782  1.498620
7   0.840504   76.241194   8.731620   4.319362  1.146774
8   0.877000   58.795390   7.667815   3.442231  0.816581
9   0.908906   43.543925   6.598782   2.674057  0.531963
10  0.931566   32.712413   5.719477   2.053375  0.347677
11  0.949514   24.132733   4.912508   1.584763  0.259016
12  0.964176   17.124259   4.138147   1.196849  0.146884
13  0.973734   12.555442   3.543366   0.901198  0.123854
14  0.980097    9.513653   3.084421   0.691296  0.105935
15  0.984572    7.374639   2.715629   0.535128  0.095396
16  0.987516    5.967691   2.442886   0.417921  0.090705
17  0.989677    4.934615   2.221399   0.333664  0.087841
18  0.990891    4.354033   2.086632   0.274664  0.083854
19  0.991533    4.047518   2.011844   0.239721  0.083116
20  0.991698    3.968671   1.992152   0.224465  0.082808
21  0.991753    3.942212   1.985501   0.216011  0.082661
22  0.991757    3.940403   1.985045   0.214099  0.082628
23  0.991757    3.940403   1.985045   0.214099  0.082628
24  0.991757    3.940403   1.985045   0.214099  0.082628
25  0.991757    3.940403   1.985045   0.214099  0.082628
26  0.991757    3.940403   1.985045   0.214099  0.082628
27  0.991757    3.940403   1.985045   0.214099  0.082628
28  0.991757    3.940403   1.985045   0.214099  0.082628
29  0.991757    3.940403   1.985045   0.214099  0.082628
30  0.991757    3.940403   1.985045   0.214099  0.082628
31  0.991757    3.940403   1.985045   0.214099  0.082628
32  0.991757    3.940403   1.985045   0.214099  0.082628
33  0.991757    3.940403   1.985045   0.214099  0.082628
34  0.991757    3.940403   1.985045   0.214099  0.082628
35  0.991757    3.940403   1.985045   0.214099  0.082628
36  0.991757    3.940403   1.985045   0.214099  0.082628
37  0.991757    3.940403   1.985045   0.214099  0.082628
38  0.991757    3.940403   1.985045   0.214099  0.082628
39  0.991757    3.940403   1.985045   0.214099  0.082628

In [5]:
#Validation
resultados = []
model = tr.DecisionTreeRegressor (random_state=0,
                                  max_depth=22)
#training
model.fit(X_training, y_training)
#perfomance
y_pred = model.predict(X_validation)

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)
resultados.append({
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
    })
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

         R2         MSE       RMSE        MAE      MAPE
0 -0.288675  615.357236  24.806395  17.208279  7.322095

In [6]:
# Retrain on train+val and evaluate on test set

resultados = []
model = tr.DecisionTreeRegressor (random_state=0,
                                  max_depth=22)
#training
model.fit(pd.concat([X_training, X_validation]), pd.concat([y_training, y_validation]))
#perfomance
y_pred_test = model.predict(X_test)

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)
resultados.append({
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
    })
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

         R2         MSE      RMSE        MAE      MAPE
0 -0.175807  572.501794  23.92701  16.086267  6.130008