In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics as mt 
from sklearn import ensemble as en

In [8]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv").values.ravel()

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv").values.ravel()

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv").values.ravel()

In [7]:
# Hyperparameter search
resultados = []
for n in [50, 100, 150]:
    for depth in range (20, 50):
        model = en.RandomForestRegressor(n_estimators=n, max_depth=depth, random_state=0, n_jobs=-1)
        model.fit(X_training, y_training)
        y_pred = model.predict(X_training)
        # Calcula a acurácia (ou outra métrica que desejar)
        R2 = mt.r2_score(y_training, y_pred)
        MSE = mt.mean_squared_error(y_training, y_pred)
        RMSE = mt.root_mean_squared_error(y_training, y_pred)
        MAE = mt.mean_absolute_error(y_training, y_pred)        
        MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)

        resultados.append({
            'n_estimators': n,
            'max_depth': depth,
            'R2': R2,
            'MSE': MSE,
            'RMSE': RMSE,
            'MAE': MAE,
            'MAPE': MAPE
        })

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

    n_estimators  max_depth        R2        MSE      RMSE       MAE      MAPE
0             50         20  0.880610  57.070048  7.554472  5.554339  2.706218
1             50         21  0.887189  53.924885  7.343357  5.353211  2.660903
2             50         22  0.890888  52.156897  7.221973  5.222121  2.627617
3             50         23  0.894003  50.668130  7.118155  5.121601  2.615462
4             50         24  0.895555  49.926185  7.065846  5.072048  2.604803
..           ...        ...       ...        ...       ...       ...       ...
85           150         45  0.904302  45.744726  6.763485  4.833067  2.597046
86           150         46  0.904302  45.744726  6.763485  4.833067  2.597046
87           150         47  0.904302  45.744726  6.763485  4.833067  2.597046
88           150         48  0.904302  45.744726  6.763485  4.833067  2.597046
89           150         49  0.904302  45.744726  6.763485  4.833067  2.597046

[90 rows x 7 columns]

In [10]:
#Validation
resultados = []

model = en.RandomForestRegressor(n_estimators=150, max_depth=24, random_state=0, n_jobs=-1)
model.fit(X_training, y_training)
y_pred = model.predict(X_validation)
# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)
resultados.append({
    'n_estimators': "150",
    'max_depth': "24",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  n_estimators max_depth        R2         MSE       RMSE        MAE      MAPE
0          150        24  0.335017  317.537183  17.819573  13.039284  7.077896

In [11]:
#Validation
resultados = []

model = en.RandomForestRegressor(n_estimators=150, max_depth=24, random_state=0, n_jobs=-1)
model.fit(pd.concat([X_training, X_validation]), np.concatenate([y_training, y_validation]))
y_pred_test = model.predict(X_test)

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)
resultados.append({
    'n_estimators': "150",
    'max_depth': "24",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  n_estimators max_depth        R2         MSE       RMSE        MAE     MAPE
0          150        24  0.406608  288.922963  16.997734  12.273464  6.34764