In [2]:
# Imports 
import numpy                        as np 
import pandas                       as pd
from matplotlib import pyplot       as plt 
from sklearn import preprocessing   as pp 
from sklearn import linear_model    as lm 
from sklearn import metrics         as mt

In [3]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv")

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv")

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv")

In [8]:
# Training
resultados = []

for n in range (2, 8):
    poly = pp.PolynomialFeatures(degree=n, include_bias=False)
    X_poly = poly.fit_transform(X_training)
    #Traning
    model = lm.LinearRegression()
    model.fit(X_poly, y_training)
    # Predict
    y_pred = model.predict(X_poly)

    # Calcula a acurácia (ou outra métrica que desejar)
    R2 = mt.r2_score(y_training, y_pred)
    MSE = mt.mean_squared_error(y_training, y_pred)
    RMSE = mt.root_mean_squared_error(y_training, y_pred)
    MAE = mt.mean_absolute_error(y_training, y_pred)        
    MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)
    resultados.append({
        'degree': n,
        'R2': R2,
        'MSE': MSE,
        'RMSE': RMSE,
        'MAE': MAE,
        'MAPE': MAPE
    })

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

   degree        R2         MSE       RMSE        MAE      MAPE
0       2  0.094195  432.986210  20.808321  16.458032  8.350540
1       3  0.154418  404.198950  20.104700  15.883592  7.800181
2       4  0.333957  318.377086  17.843124  13.614247  5.913391
3       5  0.723710  132.070073  11.492174   7.301144  2.240746
4       6  0.984665    7.330477   2.707485   0.585452  0.129924
5       7  0.902767   46.478702   6.817529   3.132218  0.799744

In [ ]:
#Valeidation
resultados = []

poly = pp.PolynomialFeatures(degree=2, include_bias=False)
X_poly_training = poly.fit_transform(X_training)
X_poly_val = poly.transform(X_validation)
#Traning
model = lm.LinearRegression()
model.fit(X_poly_training, y_training)
# Predict
y_pred = model.predict(X_poly_val)
# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)
resultados.append({
    'degree': "2",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  degree        R2         MSE       RMSE        MAE      MAPE
0      6  0.066477  445.768223  21.113224  16.749939  8.547931

In [16]:
#Training + Validation and testing 
resultados = []

poly = pp.PolynomialFeatures(degree=2, include_bias=False)
X_trainval = pd.concat([X_training, X_validation])
y_trainval = pd.concat([y_training, y_validation])

# Fit transformer on train+val, transform both train+val and test
X_poly_trainval = poly.fit_transform(X_trainval)
X_poly_test = poly.transform(X_test)

model = lm.LinearRegression()
model.fit(X_poly_trainval, y_trainval)
y_pred_test = model.predict(X_poly_test)
# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)
resultados.append({
    'degree': "2",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  degree        R2         MSE       RMSE        MAE      MAPE
0      2  0.090901  442.641386  21.039044  16.736414  8.276972