In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model as lm
from sklearn import metrics as mt

In [2]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv")

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv")

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv")

In [9]:
resultados = []

for n in range (1,20):
    lasso = lm.Lasso(alpha=n, max_iter=10000)
    lasso.fit(X_training, y_training)
    y_pred = lasso.predict(X_training)

    
    # Calcula a acurácia (ou outra métrica que desejar)
    R2 = mt.r2_score(y_training, y_pred)
    MSE = mt.mean_squared_error(y_training, y_pred)
    RMSE = mt.root_mean_squared_error(y_training, y_pred)
    MAE = mt.mean_absolute_error(y_training, y_pred)        
    MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)

    resultados.append({
        'alpha': n,
        'R2': R2,
        'MSE': MSE,
        'RMSE': RMSE,
        'MAE': MAE,
        'MAPE': MAPE
    })
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

    alpha        R2         MSE       RMSE        MAE      MAPE
0       1  0.007401  474.474834  21.782443  17.305484  8.736697
1       2  0.001125  477.474834  21.851198  17.355395  8.741522
2       3  0.000000  478.012560  21.863498  17.365090  8.742213
3       4  0.000000  478.012560  21.863498  17.365090  8.742213
4       5  0.000000  478.012560  21.863498  17.365090  8.742213
5       6  0.000000  478.012560  21.863498  17.365090  8.742213
6       7  0.000000  478.012560  21.863498  17.365090  8.742213
7       8  0.000000  478.012560  21.863498  17.365090  8.742213
8       9  0.000000  478.012560  21.863498  17.365090  8.742213
9      10  0.000000  478.012560  21.863498  17.365090  8.742213
10     11  0.000000  478.012560  21.863498  17.365090  8.742213
11     12  0.000000  478.012560  21.863498  17.365090  8.742213
12     13  0.000000  478.012560  21.863498  17.365090  8.742213
13     14  0.000000  478.012560  21.863498  17.365090  8.742213
14     15  0.000000  478.012560  21.863498  17.365090  8.742213
15     16  0.000000  478.012560  21.863498  17.365090  8.742213
16     17  0.000000  478.012560  21.863498  17.365090  8.742213
17     18  0.000000  478.012560  21.863498  17.365090  8.742213
18     19  0.000000  478.012560  21.863498  17.365090  8.742213

In [10]:
resultados = []

lasso = lm.Lasso(alpha=1, max_iter=10000)
lasso.fit(X_training, y_training)
y_pred = lasso.predict(X_validation)

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)
resultados.append({
    'alpha': "1",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  alpha        R2         MSE       RMSE        MAE      MAPE
0     1  0.007884  473.747081  21.765732  17.264922  8.695808

In [12]:
lasso = lm.Lasso(alpha=1, max_iter=1000)
#model fit (ajuste, treinamento)
lasso.fit(pd.concat([X_training, X_validation]), pd.concat([y_training, y_validation]))
#previsao
y_pred_test = lasso.predict(X_test)


resultados = []

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)

resultados.append({
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

         R2         MSE       RMSE       MAE      MAPE
0  0.007814  483.096411  21.979454  17.47241  8.752995