In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model as lm
from sklearn import metrics as mt

In [2]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv")

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv")

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv")

In [11]:
resultados = []

for n in range (1,20):
    ridge = lm.Ridge(alpha=n, max_iter=100)
    ridge.fit(X_training, y_training)
    y_pred = ridge.predict(X_training)

    
    # Calcula a acurácia (ou outra métrica que desejar)
    R2 = mt.r2_score(y_training, y_pred)
    MSE = mt.mean_squared_error(y_training, y_pred)
    RMSE = mt.root_mean_squared_error(y_training, y_pred)
    MAE = mt.mean_absolute_error(y_training, y_pred)        
    MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)

    resultados.append({
        'alpha': n,
        'R2': R2,
        'MSE': MSE,
        'RMSE': RMSE,
        'MAE': MAE,
        'MAPE': MAPE
    })
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

    alpha        R2         MSE       RMSE        MAE      MAPE
0       1  0.046058  455.996401  21.354072  16.998308  8.653415
1       2  0.046056  455.997238  21.354092  16.998366  8.653638
2       3  0.046053  455.998584  21.354123  16.998441  8.653856
3       4  0.046049  456.000404  21.354166  16.998513  8.654068
4       5  0.046045  456.002667  21.354219  16.998596  8.654275
5       6  0.046039  456.005346  21.354282  16.998695  8.654478
6       7  0.046033  456.008415  21.354354  16.998801  8.654677
7       8  0.046025  456.011854  21.354434  16.998912  8.654871
8       9  0.046017  456.015643  21.354523  16.999022  8.655060
9      10  0.046009  456.019763  21.354619  16.999135  8.655245
10     11  0.046000  456.024198  21.354723  16.999248  8.655427
11     12  0.045990  456.028934  21.354834  16.999365  8.655604
12     13  0.045979  456.033957  21.354952  16.999492  8.655778
13     14  0.045968  456.039254  21.355076  16.999625  8.655949
14     15  0.045956  456.044815  21.355206  16.999761  8.656116
15     16  0.045944  456.050628  21.355342  16.999899  8.656279
16     17  0.045932  456.056684  21.355484  17.000036  8.656439
17     18  0.045918  456.062974  21.355631  17.000177  8.656597
18     19  0.045905  456.069490  21.355784  17.000317  8.656751

In [12]:
resultados = []

ridge = lm.Ridge(alpha=4, max_iter=100)
ridge.fit(X_training, y_training)
y_pred = ridge.predict(X_validation)

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)
resultados.append({
    'alpha': "4",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  alpha        R2         MSE       RMSE        MAE      MAPE
0     4  0.039935  458.442181  21.411263  17.038733  8.682039

In [14]:
ridge = lm.Ridge(alpha=4, max_iter=100)
#model fit (ajuste, treinamento)
ridge.fit(pd.concat([X_training, X_validation]), pd.concat([y_training, y_validation]))
#previsao
y_pred_test = ridge.predict(X_test)


resultados = []

# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)

resultados.append({
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})
# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

         R2         MSE      RMSE        MAE      MAPE
0  0.051163  461.989468  21.49394  17.143317  8.534054