In [1]:
# Imports 
import numpy                        as np 
import pandas                       as pd
from sklearn import preprocessing   as pp 
from sklearn import linear_model    as lm 
from sklearn import metrics         as mt

In [2]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv")

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv")

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv")

In [ ]:
# Training
resultados = []

for n in range (1, 15):
    poly = pp.PolynomialFeatures(degree=3, include_bias=False)
    X_poly = poly.fit_transform(X_training)
    #Traning
    model = lm.Lasso(alpha=n, max_iter=1000)
    model.fit(X_poly, y_training)
    # Predict
    y_pred = model.predict(X_poly)

    # Calcula a acurácia (ou outra métrica que desejar)
    R2 = mt.r2_score(y_training, y_pred)
    MSE = mt.mean_squared_error(y_training, y_pred)
    RMSE = mt.root_mean_squared_error(y_training, y_pred)
    MAE = mt.mean_absolute_error(y_training, y_pred)        
    MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)
    resultados.append({
        'alpha':n,
        'R2': R2,
        'MSE': MSE,
        'RMSE': RMSE,
        'MAE': MAE,
        'MAPE': MAPE
    })

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

    alpha        R2         MSE       RMSE        MAE      MAPE
0       1  0.009150  473.638776  21.763244  17.285450  8.699701
1       2  0.002072  477.021941  21.840832  17.345632  8.715425
2       3  0.000827  477.617098  21.854453  17.357464  8.727232
3       4  0.000204  477.915151  21.861271  17.363318  8.738966
4       5  0.000000  478.012560  21.863498  17.365090  8.742213
5       6  0.000000  478.012560  21.863498  17.365090  8.742213
6       7  0.000000  478.012560  21.863498  17.365090  8.742213
7       8  0.000000  478.012560  21.863498  17.365090  8.742213
8       9  0.000000  478.012560  21.863498  17.365090  8.742213
9      10  0.000000  478.012560  21.863498  17.365090  8.742213
10     11  0.000000  478.012560  21.863498  17.365090  8.742213
11     12  0.000000  478.012560  21.863498  17.365090  8.742213
12     13  0.000000  478.012560  21.863498  17.365090  8.742213
13     14  0.000000  478.012560  21.863498  17.365090  8.742213

In [19]:
#Valeidation
resultados = []

poly = pp.PolynomialFeatures(degree=3, include_bias=False)
X_poly_training = poly.fit_transform(X_training)
X_poly_val = poly.transform(X_validation)
#Traning
model = lm.Lasso(alpha=1, max_iter=1000)
model.fit(X_poly_training, y_training)
# Predict
y_pred = model.predict(X_poly_val)
# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)
resultados.append({
    'degree': "3",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  degree        R2         MSE       RMSE        MAE      MAPE
0      3  0.014148  470.755769  21.696907  17.180595  8.655828

In [18]:
#Training + Validation and testing 
resultados = []

poly = pp.PolynomialFeatures(degree=3, include_bias=False)
X_trainval = pd.concat([X_training, X_validation])
y_trainval = pd.concat([y_training, y_validation])

# Fit transformer on train+val, transform both train+val and test
X_poly_trainval = poly.fit_transform(X_trainval)
X_poly_test = poly.transform(X_test)

model = lm.Lasso(alpha=1, max_iter=1000)
model.fit(X_poly_trainval, y_trainval)
y_pred_test = model.predict(X_poly_test)
# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)
resultados.append({
    'degree': "3",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  degree        R2         MSE      RMSE        MAE      MAPE
0      3 -0.001276  487.522423  22.07991  17.440768  8.755603