In [1]:
# Imports 
import numpy                        as np 
import pandas                       as pd
from sklearn import preprocessing   as pp 
from sklearn import linear_model    as lm 
from sklearn import metrics         as mt

In [2]:
X_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_training.csv")
y_training = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_training.csv")

X_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_validation.csv")
y_validation = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_validation.csv")

X_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\X_test.csv")
y_test = pd.read_csv (r"C:\Users\muzio\OneDrive\Documentos\repos\machine_learning\Regression\y_test.csv")

In [7]:
# Training
resultados = []

for n in range (1, 15):
    poly = pp.PolynomialFeatures(degree=2, include_bias=False)
    X_poly = poly.fit_transform(X_training)
    #Traning
    model = lm.Ridge(alpha=n, max_iter=1000)
    model.fit(X_poly, y_training)
    # Predict
    y_pred = model.predict(X_poly)

    # Calcula a acurácia (ou outra métrica que desejar)
    R2 = mt.r2_score(y_training, y_pred)
    MSE = mt.mean_squared_error(y_training, y_pred)
    RMSE = mt.root_mean_squared_error(y_training, y_pred)
    MAE = mt.mean_absolute_error(y_training, y_pred)        
    MAPE = mt.mean_absolute_percentage_error(y_training, y_pred)
    resultados.append({
        'alpha':n,
        'R2': R2,
        'MSE': MSE,
        'RMSE': RMSE,
        'MAE': MAE,
        'MAPE': MAPE
    })

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

    alpha        R2         MSE       RMSE        MAE      MAPE
0       1  0.093171  433.475457  20.820073  16.471972  8.372689
1       2  0.092544  433.775338  20.827274  16.479345  8.382553
2       3  0.092024  434.024080  20.833245  16.484903  8.389584
3       4  0.091557  434.247114  20.838597  16.490171  8.395193
4       5  0.091128  434.452258  20.843518  16.495449  8.399910
5       6  0.090728  434.643224  20.848099  16.500285  8.403989
6       7  0.090354  434.822279  20.852393  16.504841  8.407594
7       8  0.090001  434.991020  20.856438  16.509170  8.410827
8       9  0.089667  435.150664  20.860265  16.513213  8.413760
9      10  0.089350  435.302181  20.863897  16.516938  8.416442
10     11  0.089048  435.446375  20.867352  16.520443  8.418914
11     12  0.088761  435.583918  20.870647  16.523783  8.421206
12     13  0.088485  435.715388  20.873797  16.526928  8.423343
13     14  0.088222  435.841284  20.876812  16.529934  8.425347

In [8]:
#Valeidation
resultados = []

poly = pp.PolynomialFeatures(degree=2, include_bias=False)
X_poly_training = poly.fit_transform(X_training)
X_poly_val = poly.transform(X_validation)
#Traning
model = lm.Ridge(alpha=1, max_iter=1000)
model.fit(X_poly_training, y_training)
# Predict
y_pred = model.predict(X_poly_val)
# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_validation, y_pred)
MSE = mt.mean_squared_error(y_validation, y_pred)
RMSE = mt.root_mean_squared_error(y_validation, y_pred)
MAE = mt.mean_absolute_error(y_validation, y_pred)        
MAPE = mt.mean_absolute_percentage_error(y_validation, y_pred)
resultados.append({
    'degree': "2",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  degree        R2        MSE       RMSE        MAE      MAPE
0      2  0.067699  445.18441  21.099394  16.738741  8.568992

In [9]:
#Training + Validation and testing 
resultados = []

poly = pp.PolynomialFeatures(degree=2, include_bias=False)
X_trainval = pd.concat([X_training, X_validation])
y_trainval = pd.concat([y_training, y_validation])

# Fit transformer on train+val, transform both train+val and test
X_poly_trainval = poly.fit_transform(X_trainval)
X_poly_test = poly.transform(X_test)

model = lm.Ridge(alpha=1, max_iter=1000)
model.fit(X_poly_trainval, y_trainval)
y_pred_test = model.predict(X_poly_test)
# Calcula a acurácia (ou outra métrica que desejar)
R2 = mt.r2_score(y_test, y_pred_test)
MSE = mt.mean_squared_error(y_test, y_pred_test)
RMSE = mt.root_mean_squared_error(y_test, y_pred_test)
MAE = mt.mean_absolute_error(y_test, y_pred_test)        
MAPE = mt.mean_absolute_percentage_error(y_test, y_pred_test)
resultados.append({
    'degree': "2",
    'R2': R2,
    'MSE': MSE,
    'RMSE': RMSE,
    'MAE': MAE,
    'MAPE': MAPE
})

# Exibe os resultados em um DataFrame
pd.DataFrame(resultados)

  degree        R2         MSE      RMSE        MAE      MAPE
0      2  0.090231  442.967385  21.04679  16.742214  8.308501